@import './_consts.css';

@media screen {
  .sheet {
    padding: 10mm;
    width: 210mm;
    margin: 0 auto;
  }
}

@page {
  counter-increment: page;
  @bottom-right {
    content: counter(page) " / " counter(pages);
  }
}

:root {
  font-family: 'Noto Sans Japanese', sans-serif;

  font-size: 2.5mm;
  line-height: 1.25em;

  -webkit-font-feature-settings: "palt";
  font-variant-ligatures: none;

  --text-align-start: {
    text-align: left;
  }
  --text-align-end: {
    text-align: right;
  }

  --imprint-box-size: 15mm;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1 {
  line-height: 1.5em;
}

.table {
  width: 100%;
  border-collapse: collapse;

  &,
  & tr th,
  & tr td {
    border: solid 1px #000;
  }

  & tr th,
  & tr td {
    @apply --text-align-start;
  }
}

#personal-info,
#careers,
#projects1,
#projects2 {
  & {
    margin: 10mm 0;
  }

  & tr th,
  & tr td {
    padding: 1.5mm 2mm;
  }
}

#personal-info,
#careers,
#projects1,
#projects2 {
  page-break-inside: avoid;
}

#personal-info {
  margin-top: 5mm;
}

#imprint {
  padding: 0;
  width: var(--imprint-box-size);
  height: var(--imprint-box-size);
}

td#primary-avatar {
  width: 3cm;
  border: none;
  padding: 2mm;
  & .img {
    display: block;
    width: 100%;
  }
}

table#personal-info {
  & tr {
    & > *:first-child {
      width: 25mm;
    }
  }
  & tr#licenses {
    & > *:last-child {
      & span {
        margin-right: 1em;
      }
    }
  }
}

#careers {
  & table {
    & tr {
      & > *:nth-child(1) {
        width: 35mm;
      }
      & > *:nth-child(2) {
        width: 17.5mm;
      }
    }
  }

  & .name {
    font-size: 1em;
  }

  & .career-notes {
    & .location,
    & .notes {
      &:before {
        content: ' ';
      }
    }

    & .location {

    }

    & .notes {

    }
  }

  & .point {
    @apply --text-align-end;
  }
}

#projects1 table,
#projects2 table {
  & tr {
    & > *:nth-child(1)[rowspan="2"] {
      width: 25mm;
    }
  }
  & .using-tools {
    margin-top: 1em;
    & *.tool {
      margin-right: 1em;
    }
  }
}

#projects2 {
  margin-bottom: 0;
}

#footer {
  margin-top: 2.5mm;
  @apply --text-align-end;
}

#self-promotion {
  & .sp-block {
    margin: 0;
    padding: .6em 0;
  }
}
